pandas
numpy
pandas
google-cloud-storage
python-dotenv==0.21.0
PyYAML
scikit-learn
mlflow
fastapi
uvicorn
python-multipart
dill
beautifulsoup4
requests
python-whois
authlib
itsdangerous
python-jose[cryptography]
-e .
